/* Container chính của Swiper */
.mySwiper {
  width: 80%; /* Hoặc 100% */
  height: 200px; /* Chiều cao cố định để logo hiển thị */
  margin: 0 auto;
}

/* Kiểu dáng cho mỗi slide (logo) */
.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: auto;
  max-height: 100%; /* Đảm bảo logo nằm gọn trong chiều cao slide */
  object-fit: contain;
}